* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 200px;
  height: 200px;
}

.input {
  width: 40%;
}

.bookmarkItemList {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.categoryTitle {
  position: absolute;
  margin: auto;
}

.bookmarkItem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

.bookmarkList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 100px;
  justify-content: flex-start;
  margin-top: 20px;
}

.bookmark {
  width: 200px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
